.content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 1.2em;
    /* min-width: 400px; */
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #dc754c;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid gray;
    background-color: whitesmoke;
    text-align: center;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #dc754c;
}

.btn-group button {
    border-radius: 5px 5px 5px 5px;
    background-color: #cc5434;
    border: 2px #cc442c;
    font-size: 1.2em;
    font-weight: bold;
    padding: 10px 24px;
    cursor: pointer;
    float: center;
}

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
}

.btn-group button:hover {
    background-color: #dc744c;
}

.center {
    margin: 0;
    position: absolute;
    top: 10%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.scoretable {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    max-width: 80%;
    height: auto;
    min-width: 50%;
    min-height: 50%;
    margin: auto;
    padding: 1em;
}