/* The side navigation menu */

.sidebar {
    background: #552b12;
    width: 9em;
    transition: 0.3s;
    transition-property: width;
    display: inline-block;
    padding-top: 0.5em;
}

.sidebar .sidebar-menu .profile img {
    margin: 20px 0;
    border-radius: 50%;
}

.sidebar .sidebar-menu .profile {
    color: #bbb;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 1px;
}

.sidebar .sidebar-menu .item {
    display: block;
    color: #fff;
    position: relative;
    padding: 15px 20px;
}

.sidebar .sidebar-menu .item .menu-btn:hover {
    color: #fff237;
}

.sidebar .sidebar-menu .item i {
    margin-right: 20px;
}

.container-1 {
    margin-top: 100px;
    margin-left: 250px;
    padding: 15px;
}

.container-2 {
    margin-left: 1%;
    display: inline-block;
}

.sidebar li {
    color: #fff;
    padding: 0.25em;
}