/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    /* Set base colour variables */
    --main-bg-color: #F5E9E0;
    --main-text-color: #4B2A1F;
    --main-font-family: 'Source Sans Pro', sans-serif;
    --sub-bg-color: #DA7B4C;
    --sub-font-color: #24181C;
    --sub-color3: #CA4429;
    --default-cell-color: #ccc;
    /* Flash for a short while */
    --correct-cell-color: limegreen;
    --wrong-cell-color: firebrick;
}

html,
body {
    height: 98%;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    font-size: large;
    color: var(--main-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--sub-color3);
}

a,
input,
button {
    outline: none;
}

.wrapper {
    flex: 1 0 auto;
    width: 100%;
    padding: 1em;
    padding-top: 1.5em;
    margin-left: 5%;
    margin-right: 5%;
}

.game {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    /* border: 3px solid var(--sub-color3); */
    text-align: center;
    max-width: 60%;
    height: auto;
    min-width: 50%;
    min-height: 50%;
    margin: auto;
    padding: 1em;
}

table.gameBox {
    margin: auto;
}

.mobile_navbar {
    display: none;
}

.navbar {
    background: linear-gradient(var(--sub-bg-color), var(--sub-color3));
    padding: 0.5em;
    width: 100%;
    top: 0;
    margin: 0;
    position: fixed;
}

.navbar li {
    display: inline;
    padding: 0.5em;
}

.navbar li,
button,
.button {
    color: var(--sub-font-color);
    transition: 0.25s;
}

.navbar li a {
    color: var(--sub-font-color);
}

.navbar li:hover,
button:hover,
.button:hover {
    cursor: hand;
    cursor: pointer;
    box-shadow: 0 0 0.5em var(--main-bg-color), inset 0 0 0.25em #333;
    text-shadow: -1px 1px 2px var(--main-bg-color);
}

.navbar li:active,
button:active,
.button:active {
    background: linear-gradient(var(--sub-color3), var(--sub-bg-color));
}

.footer {
    text-align: center;
    font-size: 80%;
    flex-shrink: 0;
}

.button {
    width: 5em;
    padding: 1em;
    background: var(--sub-bg-color);
    color: var(--sub-font-color);
    text-align: center;
    vertical-align: middle;
    margin: auto;
    /* display: table-cell; */
    border-radius: 5%;
}

.cell {
    height: 5em;
    width: 5em;
    background-color: #cccccc;
    display: inline-block;
    border: 2px dashed rgba(170, 170, 170, 0.75);
}

.visited {
    background-color: #F5E9E0;
}

.wrong {
    background-color: var(--wrong-cell-color);
}

.correct {
    background-color: var(--correct-cell-color);
}

.border-top {
    border-top: 2px solid var(--sub-font-color);
}

.border-down {
    border-bottom: 2px solid var(--sub-font-color);
}

.border-left {
    border-left: 2px solid var(--sub-font-color);
}

.border-right {
    border-right: 2px solid var(--sub-font-color);
}

.horiz-wrapper {
    display: block;
}

.error {
    border-left: 3px solid var(--sub-color3);
    background: lightpink;
    padding: 0.5em;
}

.success {
    border-left: 3px solid green;
    background: lightgreen;
    padding: 0.5em;
}

label {
    width: 15em;
    display: inline-block;
}

button {
    background: var(--sub-color3);
    padding: 0.5em;
    border-radius: 0.25em;
    color: var(--sub-font-color);
}

.playerMarker {
    margin: 20%;
}

.stats {
    width: 70%;
    margin: auto;
}

.gameDisplay {
    min-height: 2em;
    background: var(--sub-bg-color);
    padding: 0.15em;
    font-size: 140%;
    margin: auto;
    line-height: 2em;
    min-width: 20%;
    display: inline-block;
    vertical-align: middle;
}

.timer,
.countdown {
    border-right: 1px solid var(--main-text-color);
    border-left: 1px solid var(--main-text-color);
}

.score::before {
    content: "Score: ";
}

.timer::before {
    content: "Time: ";
}

.obstacleCount::before {
    content: "Obstacles Hit: ";
}

.fruit {
    display: inline;
}

.mini-profile {
    text-align: center;
    background-color: var(--main-bg-color);
    border-radius: 0.5em;
    box-shadow: 0 0 20px rgb(0, 0, 0, 0.15);
    display: inline-block;
    padding: 0.5em;
    border: 1px solid #aaaaaa;
    width: 12%;
}

.mini-profile-name {
    background-color: var(--sub-bg-color);
    display: inline-block;
    padding: 0.25em;
    font-size: 120%;
    font-weight: bold;
    border-radius: 0.5em;
    max-width: 100%;
    margin: auto;
    min-width: 25%;
}

.mini-profile-tag {
    font-size: 100%;
    color: #555555 !important;
}

.greyed,
.greyed:hover {
    background: linear-gradient(#999999, #aaaaaa);
}