:root { /* Set base colour variables */
    --main-bg-color: #F5E9E0;
    --main-text-color: #4B2A1F;
    --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --sub-bg-color: #CA4429;
    --sub-font-color: #24181C;
    --sub-color3: #DA7B4C;
}
body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font-family);
    font-size: large;
    color: var(--main-text-color);
}
.navbar {
    background: var(--sub-bg-color);
    padding: 0.5em;
}
.navbar li {
    display: inline;
    padding: 0.5em;
    color: var(--sub-font-color);
}
.navbar li:hover {
    cursor: hand;
    cursor: pointer;
    box-shadow: 0 0 0.5em var(--sub-color3);
}
.game { 
    height: 80%;
    width: 80%;
}
.footer {
    text-align: center;
    font-size: 80%;
}